<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532954168699-u3f478t6nn91g49slrhp1o47sqfj1mgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532954168699-u3f478t6nn91g49slrhp1o47sqfj1mgk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>532954168699-esdsf0u4si4soaaq33voe9of4k06a99g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBvHl0T30uysXOOu7T_XtEtV2Mw3DEnQSk</string>
	<key>GCM_SENDER_ID</key>
	<string>532954168699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>social-9b5d9</string>
	<key>STORAGE_BUCKET</key>
	<string>social-9b5d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532954168699:ios:297f5fb364b1c9012211de</string>
</dict>
</plist>